#btn{
	background-color:black;
	color:white;
	border-radius:5px;
	border:none;
	content:"Only plain text without any additional tags inside the button";
}
#btn:hover{
	background-color: yellow;
	color: black;
	border-radius:30px;
}